body{
    padding: 10px;
}
.heading{
    text-align: center;
    color: blue;
}
.form{
    display: flex;
    margin-bottom: 20px;
    padding: 10px 20px 20px 20px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 6px 0px;
    max-width: 300px;
    margin-left: 36%;
}

.login{
    background-color: #3168d6;
    width: 110%;
    height: 45px;
    margin-left: 17%;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
    font-size: large;
}
.fp{
    margin-left: 90px;
}
.su{
    margin-left: 60%;
}
.a{
    text-align: center;
    margin-left: 80px;
    /* padding-left: 35px; */
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    margin-left: 0px 50px;
    width: 135%;
    height: 30px;
    text-align: center;
    font-size:medium

}
.create{
    background-color: rgb(95, 229, 95);
    color: white;
    margin-left: 30%;
    height: 45px;
    border-radius: 10px;
    margin-top: 10px;
    width: 80%;
    font-size: large;
}
hr{
    width: 120%;
    margin-left: 20px;
    margin-top: 20px;

}