*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 80px;
}
h2{
    margin-top: 50px;
    text-align: center;
}
span{
    display: block;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.button{
    height:200px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}
#grey{
    background-color: grey;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#purple{
    background-color: purple;
}