*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
}

h1{
    padding-bottom: 30px;
}

.container{
    text-align: center;
    margin-top: 20px;
}

#height,#weight{
    width: 150px;
    height: 25px;
    margin-top: 20px;
}

button{
    margin-left: 90px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    background-color: aquamarine;
}

#results{
    font-size: 25px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
}

#weight-guide{
    margin-left: 90px;
    margin-top: 20px;
}

h3{
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 25px;

}

#weight-guide p{
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}




