*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 140px;
    gap: 5px;
}

ul li img{
    width: 100px;
    height: 300px;
    border: none;
    border-radius: 10px;
    opacity: 0.5;
    transition: box-shadow 0.5s ease;
}


ul li img:hover{
    width: 100%;
    cursor: pointer;
    opacity: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}