@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Body */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0,0,33);
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

header {
    background: rgb(15, 15, 50);
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(15,15,50);
}

nav .menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;

}

nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: color 0.3s, font-size 0.3s;
}

nav ul li a:hover{
    color: rgb(153,153,226);
    font-size: 1.1rem;
}


#email{
    margin-top: 20px;
    margin-left: 70%;
    cursor: pointer;
    color: rgb(153,153,226);
}

main hr{
    border: 0;
    background: gray;
    height: 1.2px;
    margin: 60px 50px;
}

.left{
    font-size: 1.5rem;
}

.firstSec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0 ;
}

.firstSec > div{
    width: 45%;
    
}

.leftSec{
    font-size: 2.5rem;
}
.leftSec .buttons{
    padding: 30px 10px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.leftSec .btn{
    padding: 12px;
    background: #1d1f55;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(169, 167, 167);
    cursor: pointer;
}

.leftSec .btn a{
    text-decoration: none;
    color: white;
}

.leftSec .btn:hover {
    background: #393b85;
    box-shadow: 4px 4px 10px rgb(169, 167, 167);
    transform: scale(1.05);
}

.rightSec img{
    width: 80%;
}

.purple{
    color: rgb(170,107,228);
}
.text-gray{
    color: gray;
}

#element{
    color: rgb(170,107,228);
}

#about{
    max-width: 80vw;
    margin: auto;
    text-align: center;
}
#about h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(170,107,228);
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.about img{
    margin: 0 auto 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 200px;
    height: 200px;
}

.about img:hover {
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.7);
    transform: scale(1.05);
}

.about h2{
    text-align: center;
    text-shadow: 2px 2px 5px aqua;
}

.about p{
    padding: 10px;
    text-shadow: 2px 2px 5px aqua;
}


.secondSec{
    max-width: 80vw;
    margin: auto;
    height: 95vh;
}

.secondSec h1{
    display: flex;
    font-size: 1.9rem;
    justify-content: center;
    color: rgb(170,107,228);
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}   

.content > div{
    margin: 20px;
}

.skills {
    flex: 1;
}

.skills h2{
    margin-bottom: 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
}
.skills ul:hover{
    cursor: pointer;
}
.skills ul li img:hover{
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.7);
    transform: scale(1.05);
}

.skills ul li img{
    margin-inline: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.skills li {
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.projects{
    flex: 1;
}
.projects h2{
    margin-bottom: 10px;
}
.project {
    margin-bottom: 20px;
}

.project h3 {
    margin: 0;
}

.project p {
    margin: 10px 0;
}

.project a {
    color: rgb(153,153,226); 
    text-decoration: none;
}

.project a:hover{
    color:#007bff;
}

footer{
    background-color: #0e0e1a;
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul{
    list-style: none;
}


.footer-first{
    color: rgb(170,107,228);
}

footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
}


.social-media a {
    text-decoration: none;
    color: rgb(153,153,226);
    margin: 0 10px;
}
  
.social-media i {
    margin-right: 5px;
    margin-top: 10px;
    font-size: larger;
}
  
.social-media a:hover {
    color: #007bff;
}

.contact-info p a{
    text-decoration: none;
    color: rgb(153,153,226);
}

.contact-info p a:hover{
    color: #007bff;
}

.navigation li a{
    text-decoration: none;
    color: white;
}
.navigation li{
    margin-top: 5px;
}

.navigation li a:hover{
    color: #007bff;
}



/* Responsive Styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 10px 20px;
    }

    nav .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav ul.showing {
        display: flex;
        flex-direction: row;
    }

    .firstSec {
        flex-direction: column;
        text-align: center;
    }

    .leftSec button{
        margin:auto;
    }

    .rightSec img {
        width: 80%;
        margin: 20px 0;
    }

    #about img {
        margin: 0 auto;
    }

    .content {
        flex-direction: column;
        gap: 20px;
    }

    .secondSec {
        min-height: 185vh; /* Adjust this value as needed */
    }

    footer .footer {
        flex-direction: column;
        align-items: center;
    }

    footer .footer > div {
        text-align: center;
        margin: 10px 0;
    }
}
