.title{
    border: 2px solid black;
    width: 210px;
    text-align: center;
    margin-bottom: 10px;
    color: #212121;
    position: relative;
    left: 45%;
}

table{
    position: relative;
    background: #000000;
    left: 45%;
}


input[type="button"]{
    background-color: #212121;
    color: white;
    width: 100%;
    border-radius: 50%;
}

input[type = "text"]{
    border: 2px solid black;
    height: 20px;
}
